<div class="mycity row">
	<div class="col-md-8 col-md-offset-2 ">
		<div class="section-1">
			<div class="navigate title-text animated slideInDown">
				<P> <a href="#">HOME</a> | <a href="#">MY-CITY</a> | <a href="#">CITIES</a> </P>
			</div>
			<div class="background-pic-base animated slideInRight" id="slideshow"> <!--{{selectedPic.url}}-->
				<div class="background-control" ng-style="{'background-image':'url(images/capetown/1.jpg)'}">
				</div>
				<div  class="background-control"  ng-style="{'background-image':'url(images/capetown/2.png)'}">
				</div>
				<div class="background-control" ng-style="{'background-image':'url(images/capetown/3.jpg)'}">
				</div>
				<div  class="background-control"  ng-style="{'background-image':'url(images/capetown/4.jpg)'}">
				</div>
				<div class="background-control" ng-style="{'background-image':'url(images/capetown/5.jpg)'}">
				</div>
				<div  class="background-control"  ng-style="{'background-image':'url(images/capetown/6.png)'}">
				</div>
				<div  class="background-control"  ng-style="{'background-image':'url(images/capetown/7.jpg)'}">
				</div>
				<div class="background-control" ng-style="{'background-image':'url(images/capetown/8.jpg)'}">
				</div>
				<div  class="background-control"  ng-style="{'background-image':'url(images/capetown/9.jpg)'}">
				</div>
				<div class="background-control" ng-style="{'background-image':'url(images/capetown/10.jpg)'}">
				</div>
			
			</div>
			<div class="name-base name animated slideInLeft" align="center">
				Cape  Town
			</div>
			
		</div>
		<div class="section-2 animated slideInRight">
			<div class="categories">
				<div id="flip-closer"class="title-text">Nearby Hotels & Restaurants</div>
				<div id="panel-closer">
				</div>
				
				<div id="flip-adv-exc"class="title-text">Adventures & Excursions</div>
				<div id="panel-adv-exc">
				</div>
				
				<div id="flip-tou-sig"class="title-text">Tours & Sightseeing</div>
				<div id="panel-tou-sig">
				</div>
				
				<div id="flip-att-sho"class="title-text">Attractions & Shows</div>
				<div id="panel-att-sho">
				</div>
			
			</div>
			
		</div>
		
		
	</div>
</div>