<div class="profile col-md-8 col-md-offset-2 ">
	<div class="section-1">
		<div class="background-base animated slideInRight"  ng-style="{'background-image':'url({{coverPic}})'}"> <!--{{selectedPic.url}}-->
		</div>
		<div class="name-base name animated slideInLeft">{{userName}}</div>
		<div class="profilePic" ng-style="{'background-image':'url({{profilePic}})'}">
		</div>
	</div>
	
	<div class="section-2 animated slideInRight">
		<div class="summary">
			<div class="title-text">
				<i>SUMMARY</i>
				<div style="font-size:30px">
					<p>Total Likes: {{totalLikes}}</P>
					<p>Total Comments: {{totalComments}}</p>
					<p>Total Posts: {{count}}</p>
					<p>Active Day: {{finalDay}}</p>
				</div>
			</div>
		</div>
	</div>
</div>