<div class="profile row" >
	<div class="col-md-8 col-md-offset-2 ">
		<div class="section-1">
			<div class="navigate title-text animated slideInDown">
				<P> <a href="#">HOME</a> | <a href="#/mycity">MY-CITY</a> | <a href="#">CITIES</a> </P>
			</div>
			<div class="background-pic-base animated slideInRight"  ng-style="{'background-image':'url(images/backg.PNG)'}"> <!--{{selectedPic.url}}-->
			</div>
			<div class="name-base name padding animated slideInLeft">
				Skhumbuzo  Mkhungo
			</div>
			<div class="profilePic" ng-style="{'background-image':'url(images/profile.jpg)'}">
			</div>
		</div>
		
		<div class="section-2 animated slideInRight">
			
			
			<div class="categories">
			
				<div id="flip-summary"class="title-text">SUMMARY</div>
				<div id="panel-summary">
					<h3>Total Like: 77</H3>
					<h3>Total Comments: 45</h3>
					<h3>Total Posts: 33</h3>
					<h3>Mouth: June</h3>
					<h3>Average Mood: Happy</h3>
				</div>
			
			
				
				<div id="flip-best-posts" class="title-text">Best Post</div>
				<div id="panel-best-posts" >
					<p class="title-text" style="font-size:30px">Best POST based on likes</p>
					<div class="best-likes col-md-offset-4 " ng-style="{'background-image':'url(images/backg.PNG)'}">
						
					</div>
					<h3 style="padding-left:20px" >Likes:543</h3>
					
					<p class="title-text" style="font-size:30px">Best POST based on Comments</p>
					<div class="best-likes col-md-offset-4" ng-style="{'background-image':'url(images/backg.PNG)'}">
					</div>
					<h3 style="padding-left:20px"> Comments:63</h3>
				</div>
				
				<div id="flip-likes"class="title-text">Likes</div>
				<div id="panel-likes">
					<p class="title-text" style="font-size:30px">Most Likes Received</p>
					<h3>HOUR : 20:00</H3>
					<h3>Day  : Friday</h3>
					<h3>Week : 3 </h3>
					<h3>Active Day: Friday</h3>
					<h3>Year:2016</h3>
				</div>
				
				
			 
				<div id="flip-to-do"class="title-text">To Do List</div>
				<div id="panel-to-do">
						<div class="item" ng-style="{'background-image':'url(images/11.PNG)'}">
						</div>
						<div class="item" ng-style="{'background-image':'url(images/2.PNG)'}">
						</div>
						<div class="item" ng-style="{'background-image':'url(images/3.PNG)'}">
						</div>
						<div class="item" ng-style="{'background-image':'url(images/2.PNG)'}">
						</div>
						<div class="item" ng-style="{'background-image':'url(images/4.PNG)'}">
						</div>
				</div>
			 
			 
			  
			</div>
		</div>
		
	</div>
</div>