<div class="profile col-md-8 col-md-offset-2 ">
	<div class="section-1">
		<div class="background-base animated slideInRight"  ng-style="{'background-image':'url(images/back.jpg)'}"> <!--{{selectedPic.url}}-->
		</div>
		<div class="name-base name animated slideInLeft">
			user-name  user-surname
		</div>
		<div class="profilePic" ng-style="{'background-image':'url(images/profile.jpg)'}">
		</div>
	</div>
	
	<div class="section-2 animated slideInRight">
		<div class="summary">
			<div class="title-text">
				<i>SUMMARY</i>
				<div style="font-size:30px">
					<p>Total Like: 77</P>
					<p>Total Comments: 45</p>
					<p>Total Posts: 33</p>
					<p>Active Day: Friday</p>
				</div>
			</div>
		</div>
	</div>
</div>