<div class="back-g">
	<div class="main">
		<div class="logo row col-md-7 col-md-offset-2 animated slideInDown">
				- City Mood -
		</div>
		
		<fb:login-button data-max-rows="1" data-size="xlarge" data-show-faces="true" scope="public_profile,email,user_about_me,user_actions.news, user_actions.video, user_events, user_hometown, user_likes,user_location,user_photos,user_posts,user_tagged_places,user_birthday,user_website,user_work_history,user_friends,read_insights,user_education_history" onlogin="checkLoginState();"></fb:login-button>

		<fb:login-button class="facebook_login row col-md-5 col-md-offset-3 animated slideInLeft" data-max-rows="1" data-size="xlarge" data-show-faces="true" scope="public_profile,email,user_about_me,user_actions.news, user_actions.video, user_events, user_hometown, user_likes,user_location,user_photos,user_posts,user_tagged_places,user_birthday,user_website,user_work_history,user_friends,read_insights,user_education_history" onlogin="checkLoginState();">
		<a class="btn btn-block btn-social btn-facebook" href="#/profile">
			  <span class="fa fa-facebook"></span>
			  Sign in with Facebook
			</a>
		</fb:login-button>
		<div class="instagram_login row col-md-5 col-md-offset-3 animated slideInRight">	
			<a class="btn btn-block btn-social btn-instagram">
			  <span class="fa fa-instagram"></span>
			  Sign in with Instagram
			</a>
		</div>

	</div>
</div>